body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.grids{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: grid;
    gap: 60px;
    justify-content: center;
    background-color: #f7f7f7;
}

/* Reset margens */
p, h1, h2, h3{
    margin: 0px;
}


/* HEADER */
header{
    max-width: 1000px;
    margin-top: 60px;
    display: grid;
    gap: 60px;
}

.titulo{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    padding: 15px 30px;
}


/* MAIN */

main{
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.descricao{
    display: grid;
    padding :40px;
    text-align: right;
    gap: 20px;
    align-content: center;
    justify-items: end;
    position: relative;
    background-color: #fff;
}

.linha{
    width: 80px;
    height: 5px;
    background-color: #ee2211;
    position:absolute;
    top: 30px;
    right: -40px;
}

.descricao a {
    background-color: #ee2211;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 15px 30px;
}

.bike{
    width: 100%;
}

.vantagem {
    text-transform: uppercase;
    padding: 40px;
    display: flex;
    align-content: center;
    text-align: right;

}

.vantagem h2{
    font-size: 64px;
    color: #c6c6c6;
}

.vantagens {
    padding: 40px;
}

.vantagens-item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}

.vantagens-item p{
    grid-column: 2;
}

/* Rodapé */
footer{
    font-size: 22px;
    padding: 30px;
    text-align: center;
    background-color: white;
}
